<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('.count')%></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_list">
    <%= form.label :list%><br>
    <%= form.text_field :list %>
  </div>
  <div class="field">
    <%= form.label :detail %><br>
    <%= form.text_field :detail %>
  </div>

  <div class="actions">
  <%= form.submit %>
  </div>
<% end %>

<%= link_to t('.to_index'), tasks_path %> |
<%# <%= link_to t('tasks.link.back'), tasks_path %>