<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('.count')%></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :list%><br>
    <%= form.text_field :list %>
  </div>
  <br>
  <div class="field">
    <%= form.label :detail %><br>
    <%= form.text_area :detail %>
  </div>
  <br>
  <div class="field">
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline %>
  </div>
  <br>
  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Task.statuses.keys.to_a,include_blank: "選択して下さい"  %>
  </div>
  <br>
  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, Task.priorities.keys.to_a,include_blank: "選択して下さい"  %>
  </div>
  <br>
  <div class="field">
    <%= form.label :label %><br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
  </div>
  <br>
  <div class="actions">
  <%= form.submit %>
  </div>
<% end %>

<%= link_to t('.to_index'), tasks_path %> |
<%# <%= link_to t('tasks.link.back'), tasks_path %>