<h2><%= t (".title") %></h2>
<p><%= flash[:notice] %>
<%= alert %></p>

<table>
<tr>
<td><%= t('.list') %></td>
<td><%= t('tasks.index.detail') %></td>
</tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.list %></td>
    <td><%= task.detail %></td>
    <td><%= task.created_at.to_s(:datetime_jp) %></td>
    <td><%= link_to t('.to_show'), task_path(task.id) %></td>
    <td><%= link_to t('.to_edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('.to_destroy'), task_path(task.id), method: :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to t('.to_new'), new_task_path %>