<h1><%= t('tasks.show.title') %> </h1>

<p>
  <strong><%= 'ユーザー' %></strong>
  <br>
  <%= @task.user.name %>
</p>

<p>
  <strong><%= t('tasks.index.list') %></strong>
<br>
  <%= @task.list %>
</p>
<p>
  <strong><%= t('tasks.index.detail') %></strong>
  <br>
  <%= @task.detail %>
</p>

<p>
  <strong><%= t('tasks.index.deadline') %></strong>
  <br>
  <%= @task.deadline %>
</p>

<p>
  <strong><%= t('tasks.index.status') %></strong>
  <br>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('tasks.index.priority') %></strong>
  <br>
  <%= @task.priority %>
</p>

<%= link_to t('tasks.index.to_edit'), edit_task_path(@task.id) %> |
<%= link_to t('tasks.link.back'), tasks_path %>